<form {{action "save" on="submit"}}> 
  <p>
    <label>Description:
      {{input value=model.description}}
    </label>
  </p>
  {{input type="hidden" valueBinding="firstName"}}
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button> 
</form>