p, div, h3, th {
  text-align: center;
}

ul {
  text-align:center;
  display:inline-block;
}

table { 
  margin-left: auto;
  margin-right: auto;
}

#home-table-name {
  width: 160px;
}

#home-table-edit {
  width: 40px;
}

#home-table-delete {
  width: 40px;
}

.user-td {
  text-align: right;
  margin-right: 10px;
  padding: 4px;
}