p, div, th, a {
  text-align: center;
  font-size: 105%;
}

table, #task-description { 
  margin-left: auto;
  margin-right: auto;
}

table, th, td, #task-description {
   border: 1px solid #EEE;
}

#task-description {
  width: 300px;
  color: #334431;
  font-weight: bold;
}

#home-table-name {
  width: 160px;
}

#home-table-edit {
  width: 40px;
}

#home-table-delete {
  width: 40px;
}

.user-td {
  text-align: center;
  margin-right: 10px;
  padding: 4px;
}

.timeleft { 
  border: 4px solid #EEE; 
  border-radius: 0.2em;
  width: 300px;
  font-size: 2em; 
  display: inline-block; 
  margin: 0.5em 0; 
  padding: 0.5em;
}