p, div, h3, th {
  text-align: center;
}

ul {
  text-align:center;
  display:inline-block;
}

table { 
  margin-left: auto;
  margin-right: auto;
}

#table-name {
  width: 160px;
}

#table-edit {
  width: 40px;
}

#table-delete {
  width: 40px;
}